In [1]:
import json
import requests
import pandas as pd
import datetime

In [2]:
r = requests.get("https://api.mfapi.in/mf/118834")

In [3]:
data = json.loads(r.text)
json_data = json.dumps(data['data'])

In [4]:
df = pd.read_json(json_data)
df.head()

        date      nav
0 2021-08-30  102.027
1 2021-08-27  100.349
2 2021-08-26   99.571
3 2021-08-25   99.712
4 2021-08-24   99.565

In [5]:
df_3years= df[(df['date'] > "2018-08-01") & (df['date'] < "2021-07-31")]
df_3years.tail()

          date     nav
874 2018-08-02  52.380
892 2018-12-01  56.827
893 2018-11-01  56.624
894 2018-10-01  56.636
895 2018-09-01  56.852

In [6]:
mean = df_3years['nav'].mean()
max = df_3years['nav'].max()
min = df_3years['nav'].min()
std = df_3years['nav'].std()
print(std)
print(mean)
print(max)
print(min)

13.30756806397954
62.22886768802229
100.375
40.214

In [7]:
df['normalized_nav'] = (df['nav'] - mean)/ std
df['normalized_nav'].std()

1.5520117611854358

In [8]:
df.head()

        date      nav  normalized_nav
0 2021-08-30  102.027        2.990639
1 2021-08-27  100.349        2.864545
2 2021-08-26   99.571        2.806082
3 2021-08-25   99.712        2.816678
4 2021-08-24   99.565        2.805632

In [33]:
days_in_year = 363
year_old = datetime.date.today() - datetime.timedelta(days_in_year)
#print(str(year_old))

while (days_in_year > 0):
    val = df[df['date'] == str(year_old)]['nav']

    if val.empty:
        days_in_year -= 1
        year_old = year_old - datetime.timedelta(1)
    else:
        last_year_nav = val.values[0]
        print(f'nav values is {last_year_nav} for the date {year_old}')
        break
current_year_nav = df.iloc[0]['nav']
year_return = (current_year_nav - last_year_nav ) / last_year_nav
year_return

nav values is 62.096 for the date 2020-09-01

0.6430526926049989