In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta

In [2]:
import openpyxl
from openpyxl import load_workbook
import os

In [3]:
os.chdir('C:/Users/panka/Downloads')
os.getcwd()

'C:\\Users\\panka\\Downloads'

In [4]:
path = 'C:/Users/panka/Downloads/Nozzle Sales Report (1).xlsx'

In [5]:
wb = load_workbook(path)
ws = wb['sheet1']
df = pd.read_excel(path, sheet_name='sheet1')
print(df)

             Unnamed: 0 2020-07-20 Unnamed: 2 2020-07-21 Unnamed: 4
0               Product         HS         MS         HS         MS
1                    SA        NaN        NaN        NaN        NaN
2     Fuels- Bargarh(R)     100914    51743.5    95697.2    49825.2
3  Fuels-Bhawanipatna(R    94789.2    47666.1    98421.6    49654.7
4      Fuels-JEYPORE(R)     149492    92245.2     133601      69980
5   Fuels-Jharsuguda(R)     136290    42912.4     102393    30230.4
6     Fuels-ROURKELA(R)     290887    38179.3     326995    34145.2
7   Fuels-SAMBALPUR (R)     140052    46348.9     142558    43122.6
8        Keonjhar I RSA     117876    20517.6     132657    19083.5
9       Keonjhar II RSA    21413.6    7457.05    11385.8    6217.25

In [6]:
# Getting columns of the dataframe for rearranging

cols = df.columns.tolist()
print(cols)

['Unnamed: 0', '2020-07-20', 'Unnamed: 2', '2020-07-21', 'Unnamed: 4']

In [7]:
# mentioning the new order as per your choice
myorder = [0, 3, 4, 1, 2]
new_cols = [cols[i] for i in myorder]
print(new_cols)

['Unnamed: 0', '2020-07-21', 'Unnamed: 4', '2020-07-20', 'Unnamed: 2']

In [8]:
# Rearrange columns as per the new cols list
df = df[new_cols]
print(df)

             Unnamed: 0 2020-07-21 Unnamed: 4 2020-07-20 Unnamed: 2
0               Product         HS         MS         HS         MS
1                    SA        NaN        NaN        NaN        NaN
2     Fuels- Bargarh(R)    95697.2    49825.2     100914    51743.5
3  Fuels-Bhawanipatna(R    98421.6    49654.7    94789.2    47666.1
4      Fuels-JEYPORE(R)     133601      69980     149492    92245.2
5   Fuels-Jharsuguda(R)     102393    30230.4     136290    42912.4
6     Fuels-ROURKELA(R)     326995    34145.2     290887    38179.3
7   Fuels-SAMBALPUR (R)     142558    43122.6     140052    46348.9
8        Keonjhar I RSA     132657    19083.5     117876    20517.6
9       Keonjhar II RSA    11385.8    6217.25    21413.6    7457.05