In [1]:
import numpy as np
import pandas as pd
print(pd.__version__)

1.0.5

### 1. Create an empty pandas Series

In [4]:
pd.Series(dtype=float)

Series([], dtype: float64)

### 2.  Given the X python list convert it to an Y pandas Series

In [8]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9]
x = pd.Series(li)
x

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

### 3. Given the X pandas Series, name it 'My letters'

In [9]:
pd.Series(x, name='My letters')

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
Name: My letters, dtype: int64

### 4. Convert the given integer pandas Series to float

In [20]:
pd.Series(x, dtype=float)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
7    8.0
8    9.0
dtype: float64

### 5. sort the given pandas series

In [27]:
x.sort_values(inplace=True, ascending=False)
x

8    9
7    8
6    7
5    6
4    5
3    4
2    3
1    2
0    1
dtype: int64